<a href="https://colab.research.google.com/github/amilsiddik/machine-Learning/blob/main/06_Regression_dengan_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Sample Dataset**

In [2]:
import pandas as pd

sensus = {
    'tinggi' : [158,170,183,191,155,163,180,158,178],
    'jk' :[
           'pria','pria','pria','pria','wanita','wanita','wanita','wanita','wanita'
    ],
    'berat' : [64,86,84,80,49,59,67,54,67]
}
sensus_df=pd.DataFrame(sensus)
sensus_df

   tinggi      jk  berat
0     158    pria     64
1     170    pria     86
2     183    pria     84
3     191    pria     80
4     155  wanita     49
5     163  wanita     59
6     180  wanita     67
7     158  wanita     54
8     178  wanita     67

Features & Target

In [4]:
import numpy as np

X_train = np.array(sensus_df[['tinggi','jk']])
y_train = np.array(sensus_df['berat'])

print(f'X_train : \n{X_train}\n')
print(f'y_train : {y_train}')

X_train :
[[158 'pria']
 [170 'pria']
 [183 'pria']
 [191 'pria']
 [155 'wanita']
 [163 'wanita']
 [180 'wanita']
 [158 'wanita']
 [178 'wanita']]

y_train : [64 86 84 80 49 59 67 54 67]

Preprocess Dataset: Konversi Label menjadi Numerik Biner

In [5]:
X_train_transposed = np.transpose(X_train)

print(f'X_train : \n{X_train}\n')
print(f'X_train_transposed : {X_train_transposed}')

X_train :
[[158 'pria']
 [170 'pria']
 [183 'pria']
 [191 'pria']
 [155 'wanita']
 [163 'wanita']
 [180 'wanita']
 [158 'wanita']
 [178 'wanita']]

X_train_transposed : [[158 170 183 191 155 163 180 158 178]
 ['pria' 'pria' 'pria' 'pria' 'wanita' 'wanita' 'wanita' 'wanita'
  'wanita']]

In [10]:
from sklearn.preprocessing import LabelBinarizer

lb=LabelBinarizer()
jk_binarised = lb.fit_transform(X_train_transposed[1])

print(f' jk: {X_train_transposed[1]}\n')
print(f'jk_binarised : \n{jk_binarised}')

 jk: ['pria' 'pria' 'pria' 'pria' 'wanita' 'wanita' 'wanita' 'wanita' 'wanita']

jk_binarised :
[[0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [1]
 [1]
 [1]]

In [11]:
jk_binarised = jk_binarised.flatten()
jk_binarised

array([0, 0, 0, 0, 1, 1, 1, 1, 1])