<a href="https://colab.research.google.com/github/amilsiddik/machine-Learning/blob/main/07_Multiple_Linear_Regression_%26_Polynomial_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Sample Dataset**

*Training Dataset*

In [2]:
import pandas as pd

pizza = {'diameter' :[6,8,10,14,18],
         'n_toping' : [2,1,0,2,0],
         'harga' : [7,9,13,17.5,18]}

train_pizza_df = pd.DataFrame(pizza)
train_pizza_df

   diameter  n_toping  harga
0         6         2    7.0
1         8         1    9.0
2        10         0   13.0
3        14         2   17.5
4        18         0   18.0

*Testing Dataset*

In [3]:
pizza = {'diameter' :[8,9,11,16,12],
         'n_toping' : [2,0,2,2,0],
         'harga' : [11,8.5,15,18,11]}

test_pizza_df = pd.DataFrame(pizza)
test_pizza_df

   diameter  n_toping  harga
0         8         2   11.0
1         9         0    8.5
2        11         2   15.0
3        16         2   18.0
4        12         0   11.0